
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-left">

      <h2>What is Snorkelology?</h2>

      <p>
        Hello and welcome to Snorkelology!  We are Emma and Gordon Taylor, snorkelling and SCUBA instructors
        with more than 20 years experience exploring the British coastline, and authors of Snorkelling
        Britain.
      </p>

      <p class="blockquote">
        Snorkelology is a website from the authors of Snorkelling Britain
      </p>

      <p>
        Explore our website for British snorkelling sites, snorkelling gear tips and recommendations, inspiring
        underwater photography, and many more snorkelling resources...
      </p>

    </div>

    <div class="content-image-box grid-position-right">
      <img
        ngSrc = "photos/content/child-underwater-snorkelling-with-great-visibility-in-cornwall-britain-2.jpg"
        alt   = "Photo of child swimming underwater while snorkelling in Cornwall, Britain"
        width = "300"
        height = "300"
        priority
      /> 
    </div> 

  </div>
</div>