
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-left">

      <h1>Snorkelling in Britain</h1>

      <p class="blockquote">
        The British coastline is one of the world's most dynamic, thriving marine habitats.
      </p>

      <p>
        This diversity is driven by the combination of high tidal range and strong currents around our shores,
        which bring warm, nutrient-rich waters from the Atlantic to the surface, promoting plankton growth
        – the foundation of the marine food chain.
      </p>

      <p class="blockquote">
        When conditions are right, snorkelling in Britain brings a connection with marine life that
        can equal any tropical location.
      </p>

      <p>
        The sheer variety on offer is stunning: you can snorkel Scottish sea lochs,
        sheltered bays, shipwrecks, tidal pools, kelp forests, sandy seabeds and rocky reefs; witness sharks, seals,
        scorpionfish, octopus, and cuttlefish; watch the sun rising through sea arches or spy conger eels hunting
        in the dusk; immerse yourself in the miniature world of the many and various sea slugs and marvel at the
        unimaginable enormity of the oceans. 
      </p>

    </div>

    <div class="content-image-box grid-position-right">
      <img
        ngSrc = "photos/content/child-underwater-snorkelling-with-great-visibility-in-cornwall-britain-2.jpg"
        alt   = "Photo of child swimming underwater while snorkelling in Cornwall, Britain"
        width = "300"
        height = "300"
        priority
      /> 
    </div> 

  </div>
</div>