
header {
  position: fixed;
  z-index: 99;
  margin: 0;
  padding: 0;
  display: flex;  
  flex-direction: row;
  width: 100%;
  height: var(--header-height);
  color: var(--text-colour-header);
  background-color: var(--sn-colour);
  border-bottom: 2px white solid;   
}  

.brandbox {
  position: absolute;
  left: calc( (100vw - var(--container-width) ) / 2 );
  /* left: calc( (100vw - 100px) / 2 ); */
  top: 10px;
}

svg {
  z-index: 100;
}

img {
  z-index: 300;
}

@media (max-width: 767px) {
  .navbar {
    margin-right: calc( (100vw - var(--container-width) ) / 2 );
  }
}



.navbar {
  height: var(--header-height);
  margin-inline: auto;
}

.brandbox:hover {
  cursor: pointer;
}


.sn-title {
  margin-left: 5px;
  font-size: 40px;
  /* letter-spacing: -1px; */
  /* font-family: 'Lato'; */
  font: 'Montserrat', sans-serif;
  font-weight: 450;
  line-height: 1.2rem;

}
/* 
@media (max-width: 991px) {
  .sn-title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .sn-title {
    font-size: 22px;
  }
} */

.menu {
  /* position: absolute; */
  top: 0px;
  right: 0px;
  margin-left: auto;
  padding-inline: 10px;
}

.menu > li {
  display: inline;
  margin: 0.25rem;
  border-bottom: 2px transparent solid;
  transition: border-bottom 0.5s ease-in-out;
  text-align: center;
}


.menu > li:hover, .menu > li.active {
  cursor: pointer;
    border-bottom: 2px white solid;
}

.menu > span {
  margin-inline: 0.25em;
}

.hamburger {
  display: none;
  position: absolute;
  top: 20px;
  right: calc( (100vw - var(--container-width) ) / 2 );
  padding: 0;
  margin-left: auto;
  z-index: 99;
}

.hamburger:hover {
  cursor: pointer;
}

/*  Narrow screen adjustments  */
@media (max-width: 767px) {

  .hamburger {
    display: block;
  }

  /* .brandbox {
    margin: 0;
  } */

  .menu {
    max-height: 0px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: absolute;
    top: 75px;
    left: 0;
    right: 0;
    top: 100;
    background-color: var(--sn-colour);
    border-top: none;
    box-shadow: var(--box-shadow-bottom-only);
    padding: 0;
    margin: 0;
    transition: max-height 0.5s ease-in-out;
    overflow: hidden;
    border-bottom: 2px white solid;
    z-index: 200;

  }

  .show {
    max-height: 500px;
  }

  .menu > li {
    display: block;
    text-align: center;
    width: auto;
  }

  .menu > li:last-child {
    margin-bottom: 1em;
  }

  .menu > span {
    display: none;
  }
}
