

.page-holder {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-holder {
  margin-bottom: auto;
}

.toast-container {
  position: fixed;    
  z-index: 999;
  bottom: 40px;
  left: 0px;
  right: 0px;
}