<!-- <svg xmlns="http://www.w3.org/2000/svg" [attr.stroke]="fillColour" stroke-width="2px" [attr.fill]="fillColour" viewBox="-1 -1 26,26" height="30px" width="30px">
  <path d="M5 0A5 5 0 000 5L0 17A5 5 0 005 22L20 22A5 5 0 0025 17L25 5A5 5 0 0020 0L5 0M0 25 25 25"></path>
</svg> -->

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 28" [attr.height]="height" [attr.fill]="fillColour">
  <rect x="2" y="2" width="25" height="20" [attr.fill]="fillColour" rx="5" [attr.stroke]="strokeColour" stroke-width="3"></rect>
  <path [attr.stroke]="strokeColour" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" d="M2 27 L27 27"></path>
</svg>
        