@defer {
  <div class="dynamic-container">
    <div class="main-content-grid">
      <div class="left">

        <h1>Snorkelling in Britain</h1>
        <p>
          Welcome to Snorkelology, a website all about British snorkelling and the vibrant, diverse underwater
          world you can experience right on our doorstep with just a mask and snorkel.  Browse to 
          discover the best snorkelling sites using our unique British Snorkelling Map,
          learn about equipment, safety, snorkelling photography and gear through our in-depth articles, or 
          simply purchase our book <em>Snorkelling Britain: 100 Marine Adventures</em> to get detailed descriptions 
          of our favourite British snorkelling sites.
        </p>

      </div>

      <div class="content-img right">
        <img
          ngSrc = "photos/content/child-underwater-snorkelling-with-great-visibility-in-cornwall-britain-2.jpg"
          alt   = "Photo of child swimming underwater while snorkelling in Cornwall, Britain"
          fill
          priority
        /> 
      </div> 

    </div>

    <p class="blockquote">
      The British coastline is one of the world's most dynamic, thriving marine habitats.
    </p>

    <p>
      This diversity is driven by the combination of high tidal range and strong currents around our shores,
      which bring warm, nutrient-rich waters from the Atlantic to the surface, promoting plankton growth
      – the foundation of the marine food chain.
    </p>

    <p class="blockquote">
      When conditions are right, snorkelling in Britain brings a connection with marine life that
      can equal any tropical location.
    </p>

    <p>
      The sheer variety on offer is stunning: you can snorkel Scottish sea lochs,
      sheltered bays, shipwrecks, tidal pools, kelp forests, sandy seabeds and rocky reefs; witness sharks, seals,
      scorpionfish, octopus, and cuttlefish; watch the sun rising through sea arches or spy conger eels hunting
      in the dusk; immerse yourself in the miniature world of the many and various sea slugs and marvel at the
      unimaginable enormity of the oceans. 
    </p>

  </div>
}