.subscribe {
  min-height: calc( 100vh - var(--footer-height) - var(--header-height));
  

   /* min-height: calc(100% - var(--header-height)); */
  margin: 0;
  padding-bottom: 0;
  overflow-y: hidden;
  /* padding: 0; */
}

form {
  width: 100%;
  /* border: 1px orange solid; */
  /* text-align: center; */
}

form > input {
  width: 50%;
  margin: 1rem 0 0 0;
  font-size: 1rem;
  line-height: var(--line-height);
  border-radius: 5px;
  border-width: 1px;
  border-color: var(--border-colour);
  padding-inline: 0.5em;
  box-shadow: none;
  box-sizing: border-box;
}

form > input:focus {
  outline: none;
}

form > input:invalid {
  border-radius: 5px;
  border: red solid 1px;
}

form > input {
  outline: none;
}

form > button {
  color: var(--text-colour);
  font-size: 1rem;
  line-height: var(--line-height);
  cursor: pointer;
  border-radius: 5px;
  border-width: 1px;
  padding-inline: 0.5rem;
  border-color: var(--text-colour);
  margin-bottom: 2rem;
}

form > button:hover {
  background-color: lightgrey;
}

@media (max-width: 767px) {
  form > input, form > button {
    width: 100%;
  }
}

form:invalid > button {
  opacity: 0.3;
  pointer-events: none;
}

form > div {
  color: red;
  /* padding-inline: 0.5em; */
  /* border: red solid 1px; */
  font-size: smaller;
  /* margin-top: 0.1rem; */
}
form:invalid > div {
  visibility: visible;
}

form:valid > div {
  visibility: hidden;
}



