
<!-- <div class="flex-wrapper"> -->
  <div class="dynamic-container subscribe">

  <h2>Join our email list for book updates...</h2>
  <p>
    Fill in the form below to get updates on our snorkelling in Britain guidebook.
  </p>
  <p>
    We totally get the importance of privacy: you won't get emails from us on any other topics
    and we won't share your data with anyone.  See our
    <a class="html-link" (click)="navigate.to('privacy-policy')">privacy policy</a> for more information,
    and for details on how to unsubscribe.
  </p>

  <form>
    <input
      type="pattern"
      pattern="^$|^([\w\.\-]+)@([\w\-]+)((\.(\w){2,3})+)$"
      name="email"
      id="emailInput"
      [(ngModel)]="email"
      aria-describedby="emailHelp"
      placeholder="Email address"
      required
    >
    <!-- <br /> -->
    <div>Please enter a valid email address</div>
    <button type="submit" (click)="onSubmit()">Subscribe</button>

  </form>

<!-- </div> -->
</div>

