
/* solution for animating height: https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */

.hidden-basket-item-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 0.5s ease-out;
  opacity: 0;
}

.show {
  grid-template-rows: 1fr;
  opacity: 1;
}

.hidden-basket-item {
  overflow: hidden;
}

.basket {
  margin-top: 2em;
  margin-bottom: 2em;
  /* display: flex; */
  /* border-bottom: 1px var(--banner-colour) solid; */

}

.last-row {
  border-bottom: 1px var(--banner-colour) solid;
}

.basket-item {
  border-top: 1px var(--banner-colour) solid;
  /* display: flex; */
}

.basket-item-description {
  padding-block: 1rem;
  display: flex;
  flex-direction: row;
}

.basket-item-qty {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.basket-item-note {
  display: block;
  font-size: small;
  margin-top: -1rem;
}
.basket-item-note-right {
  text-align: right;
}


.total {
  margin-inline: 7em;
  padding-block: 1em;
  display: flex;
}

.basket-item-text {
  flex-grow: 1;
  text-wrap: nowrap;
}

input {
  text-align: center;
  display: inline-block;
  padding: 5px 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  /* font-size: 1rem; */
  font-weight: 300;
  line-height: var(--line-height);
  font-size: 1.3rem;
  border-radius: 0;
  border-width: 1px;
  outline-width: 0px;
  margin-inline: -1px;
}

input.qty {
  text-align: center;
  width: 1.8rem;
}

input.discount {
  /* flex-grow: 1; */
  width: 100%;
  text-align: right;
  margin-left: 1rem;
}

.plus-minus {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 0;
  /* margin-inline: 10px; */
  border-width: 1px;
}