<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-right">

      <h2>Buy Now</h2>

      <p> 
        By ordering Snorkelling Britain directly from us as the authors, you are  
        rewarding the 3 years of research we put into the book, helping
        us to recoup more of our costs, and yes, we get more
        profit on each book this way!
      </p>
      <!-- <p class="blockquote">
        Please allows 5-7 days for recieving your order - if you need it sooner, 
        please get in touch and we'll see what we can do
      </p> -->
      <p class="blockquote">
        Snorkelling Britain is now available - we will process your order as soon as possible, 
        but bear with us in busy periods!
      </p>
      <p>
        If you would like to order more than 5 copies, or you are a retailer wanting to stock 
        Snorkelling Britain, please contact us for more information.
      </p>

      <div class="basket">
        @for (basketItem of shop.basket.items; track $index) {
          <div class="basket-item">
            <div class="basket-item-description">

              <div> {{basketItem.name}}</div>
              
              <div class="basket-item-qty">
                <button class="plus-minus" (click)="onPlusMinus(basketItem.id,-1)" [disabled]="shop.orderStatus!='draft'">-</button>
                <input id="qty" class="qty" type="number" min=0 name="qty-input-{{$index}}" [disabled]="shop.orderStatus!='draft'"  [(ngModel)]="basketItem.quantity" readonly> 
                <button class="plus-minus" (click)="onPlusMinus(basketItem.id,1)" [disabled]="shop.orderStatus!='draft'">+</button>
              </div>
        
              <div>{{basketItem.quantity * basketItem.unit_amount.value | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
            </div>
          </div>
        }
      
        <!-- solution for animating height: https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ -->
        <div class="hidden-basket-item-wrapper" [ngClass]="shop.basket.discountPercent ? 'show' : ''">
            <div class="hidden-basket-item">
              <div class="basket-item">
                <div class="basket-item-description">
                  <div class="basket-item-text">{{shop.basket.discountPercent}}% Discount</div>
                  <div>{{shop.basket.discountValue  | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
                </div>
              </div> 
            </div>
        </div>
      
        <div class="basket-item">
          <div class="basket-item-description">
            <div class="basket-item-text">Shipping ({{shop.basket.shippingOption}})</div>
            <div>{{shop.basket.shippingCost | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
          </div>
          <div class="basket-item-note">
            Shipping options can be changed in PayPal checkout<br>
            If you wish to select pickup, please contact us in advance
          </div>
        </div>      
      
        <div class="basket-item">
          <div class="basket-item-description">
            <div class="basket-item-text">Total</div>
            <div>{{shop.basket.totalCost | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
          </div>
        </div>
        
        <div class="basket-item">
          <div class="basket-item-description">
            <label for="discount">Discount&nbsp;Code:</label>
            <input class="discount" type="text" id="discount" name="discount" (keyup)="onCodeChange()" [disabled]="shop.orderStatus!='draft'" [(ngModel)]="shop.basket.discountCode">

          </div>
          <div class="basket-item-note basket-item-note-right">
            @if (dirtyDiscountCode) {
              @if (shop.basket.discountPercent === 0) {
                Entered code is not valid
              } @else {
                Discount applied!
              }  
            }
        
            </div>
        </div>
      
      </div>

      @if (shop.orderStatus === "draft") {
        <div id="paypal-button-container"></div>
      } @else {
        <app-order-outcome></app-order-outcome>
      }

    </div>
    
    <div class="content-image-box grid-position-left"> 
      <img class="extra-top-margin"
        ngSrc = "photos/content/snorkelling-britain-100-marine-adventures-book-cover-2d.jpg"
        alt = "Snorkelling Britain: 100 Marine Adventures book cover 2D"
        width = "300"
        height = "370"
      />             
    </div>


  </div>
</div>


