
<div class="dynamic-container">

  <h2>Let's bust some myths about British snorkelling ...</h2>

  <p>
    There is a lot of nonsense spoken about snorkelling in Britain, and in this section we try to dispel some of those myths!
  </p>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h4 itemprop="name">Isn't it too cold to snorkel in Britain?</h4>
    <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        In the summer the water temperature can reach 20&deg;C or higher,
        and this is the sort of temperature that some people can tolerate without a wetsuit.
        However if you want to be a year-round snorkeller, you will certainly need a wetsuit
        to protect you from the elements.
      </div>
    </span>
  </div>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <h4 itemprop="name">Is there anything to see snorkelling in Britain?</h4>
    <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        We have been diving, snorkelling and swimming around Britain for 30 years, and the emphatic response is YES!  British
        waters are teeming with marine life.  We have large mammals like seals and dolphins, large fish like sunfish and wrasse,
        along with a wealth of smaller critters (our favourite is the Tompot Blenny!)  You do have to look a bit harder than on
        a tropical reef, but that game of hide-and-seek is part of the enjoyment.
      </div>
    </span>
  </div>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h4 itemprop="name">Is snorkelling in Britain safe?</h4>
    <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        Snorkelling, like any water-based activity, comes with risks but there are many
        common-sense things we can do to enjoy the marine environment safely. Number one on our list will always be: <i> never
        snorkel alone</i>.  It's so important that you have someone to look out for you, even if they stay on the shore.  Be aware
        of your knowledge and experience level and seek advice from locals or experts as necessary.
      </div>
    </span>
  </div>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h4 itemprop="name">Where are the best snorkelling sites in Britain?</h4>
    <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        Britain's coastline is rich and diverse, and you can find marine life almost anywhere.  The locations most abundant with life tend
        to be those with rocky seabed with healthy currents: enough to bring nutrients but not too strong that fauna cannot hold on.
        Just make sure you check out the tides and currents before you pop in.
      </div>
    </span>
  </div>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h4 itemprop="name">Is it 'snorkelling' or 'snorkeling'?</h4>
    <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        The
        <app-ext-link link="https://www.oxfordlearnersdictionaries.com/definition/english/snorkelling" text="Oxford English Dictionary"></app-ext-link>gives
        'snorkelling' as the correct spelling in British English.
      </div>
    </span>
  </div>

  <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
    <h4 itemprop="name">Snorkelology is a bit of a tongue-twister, how did you find the name?</h4>
    <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
      <div itemprop="text">
        Yes, it is a bit of a tongue-twister!  But we wanted a made-up name so it would be easy to find a domain name.  We recommend
        thinking of it as a compound of 'snorkel' and the ending '-ology'.
      </div>
    </span>
  </div>
</div>


