
<div class="dynamic-container">

  <h2>Let's bust some myths about British snorkelling ...</h2>

  <p>
    There is a lot of nonsense spoken about snorkelling in Britain, and in this section we try to dispel some 
    of those myths!
  </p>

  <h4>Is it too cold to snorkel in Britain?</h4>
  <p>
    Not at all.  In the summer the water temperature can reach 20&deg;C or higher in the south of England,
    and this is the sort of temperature that many people can tolerate without a wetsuit.  As snorkelling is
    a sedate pastime - the fewer movements the more likely you are to see exciting marine life - it can 
    nevertheless be chilly without a wetsuit.  Of course, if you want to snorkel all year round in Britain,
    a wetsuit is a must. Also remember that if you can brave the cooler waters, cold water swimming 
    can have <a href="https://www.bbc.co.uk/reel/video/p0j8zdrh/is-cold-water-swimming-good-for-you-">
    beneficial health effects</a>.
  </p>

  <h4>Is there any marine life to see snorkelling in Britain?</h4>
  <p>
    We have been diving, snorkelling and swimming around Britain for 25 years, and the emphatic response is YES!  
    The British coastline is one of the most rich and diverse marine habitats in the world, its nutrient rich
    waters benefitting from warm Atlantic currents and a high tidal range.  On a standard snorkelling adventure in 
    Britain you could see 
    <a href="https://www.marlin.ac.uk/species/detail/1753">great spider crabs</a>,
    <a href="https://www.marlin.ac.uk/species/detail/1493">small-spotted catsharks</a>,
    <a href="https://www.marlin.ac.uk/species/detail/1725">tompot blenny</a>,
    <a href="https://www.marlin.ac.uk/species/detail/1982">sea slugs</a>, and
    <a href="https://www.marlin.ac.uk/species/detail/1739">ballan wrasse</a>,
    not to mention the wide range of seaweeds and wracks, and the beautiful anemones that can only really be 
    appreciated from underwater.  If you are willing to snorkel at dusk, you could also be treated to 
    <a href="https://www.marlin.ac.uk/species/detail/1098">cuttlefish</a> or
    <a href="https://www.marlin.ac.uk/species/detail/2126">conger eels</a>.  
    In short, there is no end to the wonderful marine life that inhabit our coastlines, 
    and what better way to explore than with a mask and snorkel?
  </p>      

  <h4>Is snorkelling in Britain safe?</h4>
  <p>
    Snorkelling, like any water-based activity, comes with risks but there are many commonsense things we can 
    do to enjoy the marine environment safely. The most basic rule is to develop your skills slowly: if you are 
    new to snorkelling, test your kit in a swimming pool first, progressing to shallow, sheltered water sites to 
    practice and become familiar with the underwater world.  For more information about snorkelling safety, 
    seek professional instruction through, for example, the <a href="https://www.bsac.com/">British Sub Aqua Club (BSAC)</a>.
  </p>

  <h4>What are the best snorkelling sites in Britain?</h4>
  <p>
      Britain's coastline is rich and diverse, and you can find marine life almost anywhere.  The locations most 
      abundant with life tend to be those with rocky seabed with healthy currents: enough to bring nutrients but 
      not too strong that fauna cannot hold on.  Just make sure you check out the tides and currents before you pop in.
      For more information about British snorkelling sites, check check out our new book 
      <a [routerLink]="[]" fragment="snorkelling-britain">Snorkelling Britain</a>, which features our favourite 100 snorkelling
      sites in England, Scotland and Wales.
  </p>

  <h4>Is it 'snorkelling' or 'snorkeling'?</h4>
  <p>    
    The <a href="https://www.oxfordlearnersdictionaries.com/definition/english/snorkelling">Oxford English Dictionary"</a>
    gives 'snorkelling' as the correct spelling in British English.
  </p>
  
  <h4>Snorkelology is a bit of a tongue-twister, how did you find the name?</h4>
  <p>
    Yes, it is a bit of a tongue-twister!  But we wanted a made-up name so it would be easy to find a domain name.  
    We recommend thinking of it as a compound of 'snorkel' and the ending '-ology', like 
    '<a href="https://en.wikipedia.org/wiki/Dendrochronology">dendrochronology</a>'.
  </p>
  
</div>


