
<main>
  <div class="dynamic-container margin-top">
    @if (paymentOutcome == "failed") {
      Oops, something went wrong with the transaction. <br>
      This is what we know from PayPal:
      <div class="errorDetails">
        {{shop.order?.error?.message}} <br>
        {{shop.order?.error?.details?.[0]?.issue}} <br>
        {{shop.order?.error?.details?.[0]?.description}}
      </div>
      If you think the error is on our side, don't hesitate to contact us at orders&#64;snorkelology.co.uk
    } @else {
      Thank you for your order, we'll get right on it... <br>
      Order summary:
      <div class="orderDetails">
          Order number: {{shop.order?.orderNumber}}<p>
          <!-- @for (item of shop.order?.intent?.purchase_units?.[0]?.items; track item) {
            <div class="grid" [ngClass]="{'last-row': $index === $count-1}">
              <div class="description-col">
                {{item.quantity}} x {{item.description}} &commat; 
                {{item.unit_amount.value | currency: 'GBP' : 'symbol' : '1.2-2' : 'en'}}ea 
              </div>
              <div class="total-col">
                {{item.quantity * item.unit_amount.value | currency: 'GBP' : 'symbol' : '1.2-2' : 'en'}}
              </div>
            </div>
          } -->
          <div class="total">
            <div class="description-col">&nbsp;</div>
            <div class="total-col">
              {{shop.basket.totalExclShipping | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}
            </div>
          </div>  
          <div>
            Recipient:<p>
            
          </div> 
      </div>       
    }

      
    <!-- } -->
  </div>
</main>