<main>
  <div class="orders-container">
    <div class="side-panel">
      <div class="panel-header">Actions</div>
      <button (click)="onUpdateList()">Update List</button><br>
      <button (click)="copyEmails()">Copy email addresses</button><br>
      <button (click)="newOrder()">New manual order</button><br>
      <button (click)="exportCSV()">Click&Drop Export</button><br>
      <a href="https://business.parcel.royalmail.com/">Click and Drop</a> <br>

      <div class="panel-header">Filters</div>

      <label for="textSearch">Search: </label>
      <input [(ngModel)]="textSearch" type="text" id="textSearch" name="textSearch" (keyup)="onUpdateList()"><br>

      <div class="filter-table"> 
        <div class="filter-table-left">
          By Type<br>
          <input [(ngModel)]="filterOnline" type="checkbox" id="filterOnline" name="filterOnline" value="filterOnline" (ngModelChange)="onUpdateList()">
          <label for="filterOnline">Online</label><br>
          <input [(ngModel)]="filterManual" type="checkbox" id="filterManual" name="filterManual" value="filterManual" (ngModelChange)="onUpdateList()">
          <label for="filterManual">Manual</label><br>
          <input [(ngModel)]="filterTest" type="checkbox" id="filterTest" name="filterTest" value="filterTest" (ngModelChange)="onUpdateList()">
          <label for="filterTest">Test</label><br>
        </div>
        <div class="filter-table-right">
          By Status<br>
          <select [(ngModel)]="filterStatus" name="selectStatus" id="selectStatus" (change)="onUpdateList()">
              <option value="orderCompleted"> Completed</option>
              <option value="readyToPost">    Ready to Post</option>
              <option value="posted">         Posted</option>
              <option value="returned">       Returned</option>
              <option value="refunded">       Refunded</option>
              <option value="orderCancelled"> Cancelled</option>
          </select><br>
        </div>
      </div>
      <button (click)="resetFilters()">Reset Filters</button><br>

        <div class="panel-header">Summary</div>
        <table class="summary-table">
          <tbody>
            <tr>
              <td>Number of Orders</td>
              <td>{{orders.length}}</td>
            </tr>
            <tr>
              <td>Number of Copies</td>
              <td>{{numberOfCopies}}</td>
            </tr> 
            <tr>
              <td>Order Value</td>
              <td>£{{orderValue}}</td>
            </tr>  
          </tbody>                  
        </table>
      </div>

      <div class="content">
      

      @for (order of orders; track order.timeStamps?.orderCreated) {

        <div class="order-table">
          <div class="order-line first-line" >
            <div class="title grey">Order Number</div>
            <div class="value grey">{{ order.orderNumber }}</div>
            @if (order.endPoint === 'manual') {
              <a class="action" [routerLink]="'manual/'+order.orderNumber">Edit Order</a>
              <button (click)="onDeactivate(order.orderNumber!)">Delete</button>
            }
            <div class="action">
              <button (click)="onSetStatus(order.orderNumber!,'orderCancelled')">Cancel</button>
            </div>
          </div>
            <div class="order-line">
              <div class="title">PayPal Order ID</div>
              <div class="value">{{ order.payPalOrderId ?? '' }}</div>
            </div>            
            @if (order.timeStamps?.orderCreated) {
              <div class="order-line">
                <div class="title">Order Created</div>
                <div class="value">{{order.timeStamps?.orderCreated}}</div>
              </div>
            }
            @if (order.timeStamps?.orderCompleted) {
              <div class="order-line">
                <div class="title" [ngClass]="(!order.timeStamps?.readyToPost && !order.timeStamps?.orderCancelled) ? 'red' : ''">Order Completed</div>
                <div class="value" [ngClass]="(!order.timeStamps?.readyToPost && !order.timeStamps?.orderCancelled) ? 'red' : ''">{{order.timeStamps?.orderCompleted}}</div>
                @if (!order.timeStamps?.readyToPost && !order.timeStamps?.orderCancelled) {
                  <div class="action">
                    <button (click)="onSetStatus(order.orderNumber, 'readyToPost')">Ready to Post</button>
                  </div>
                    <!-- <div class="button"><button (click)="onSetStatus(order.orderNumber, 'readyToPost')">Ready to Post</button></div> -->
                }
              </div>
            }
            @if (order.timeStamps?.readyToPost) {
              <div class="order-line">
                <div class="title" [ngClass]="!order.timeStamps?.posted ? 'purple' : ''">Ready to Post</div>
                <div class="value" [ngClass]="!order.timeStamps?.posted ? 'purple' : ''">{{order.timeStamps?.readyToPost}}</div>
                @if (!order.timeStamps?.posted && !order.timeStamps?.orderCancelled) {
                  <div class="action">
                    <button (click)="onSetStatus(order.orderNumber, 'posted')">Posted</button>
                    <button (click)="onUnsetStatus(order.orderNumber, 'readyToPost')">Undo Step</button>
                  </div>
                }
              </div>
            }     
            @if (order.timeStamps?.posted) {
              <div class="order-line">
                <div class="title">Posted</div>
                <div class="value">{{order.timeStamps?.posted}}</div>
                @if (!order.timeStamps?.postedEmailSent && !order.timeStamps?.returned && !order.timeStamps?.orderCancelled) {
                  <div class="action">
                    <button (click)="onSendEmail(order.orderNumber)">Send Email</button>
                    <button (click)="onSetStatus(order.orderNumber, 'returned')">Returned</button>
                    <button (click)="onUnsetStatus(order.orderNumber, 'posted')">Undo Step</button>
                  </div>
                }
              </div>
            }
            @if (order.timeStamps?.postedEmailSent) {
              <div class="order-line">
                <div class="title">Posted Email</div>
                <div class="value">{{order.timeStamps?.postedEmailSent}}</div>
                @if (!order.timeStamps?.returned) {
                  <div class="action">
                    <button (click)="onSetStatus(order.orderNumber, 'returned')">Returned</button>
                  </div>
                }
              </div>
            }  
            @if (order.timeStamps?.orderCancelled) {
              <div class="order-line">
                <div class="title" [ngClass]="!order.timeStamps?.refunded ? 'green' : ''">Order Cancelled</div>
                <div class="value" [ngClass]="!order.timeStamps?.refunded ? 'green' : ''">{{order.timeStamps?.orderCancelled}}</div>
                @if (!order.timeStamps?.refunded) {
                  <div class="action">
                    <button (click)="onSetStatus(order.orderNumber, 'refunded')">Refunded</button>
                    <button (click)="onUnsetStatus(order.orderNumber, 'orderCancelled')">Undo Step</button>
                  </div>
                }
              </div>
            }                   
            @if (order.timeStamps?.returned) {
              <div class="order-line">
                <div class="title" [ngClass]="!order.timeStamps?.refunded ? 'blue' : ''">Returned</div>
                <div class="value" [ngClass]="!order.timeStamps?.refunded ? 'blue' : ''">{{order.timeStamps?.returned}}</div>
                @if (!order.timeStamps?.refunded) {
                  <div class="action">
                    <button (click)="onSetStatus(order.orderNumber, 'refunded')">Refunded</button>
                    <button (click)="onUnsetStatus(order.orderNumber, 'returned')">Undo Step</button>
                  </div>
                }
              </div>
            }
            @if (order.timeStamps?.refunded) {
              <div class="order-line">
                <div class="title">Refunded</div>
                <div class="value">{{order.timeStamps?.refunded}}</div>
                <div class="action">
                  <button (click)="onUnsetStatus(order.orderNumber, 'refunded')">Undo Step</button>
                </div>
              </div>
            }
            <div class="order-line">
              <div class="title">API Endpoint</div>
              <div class="value">{{ order.endPoint }}</div>
            </div>
          <div class="order-line">
            <div class="title">Email </div>
            <div class="value">
              {{!!order.user.organisation ? order.user.organisation + '\n' : ''}}
              {{!!order.user.name ? order.user.name + '\n' : ''}}
              {{!!order.user.address.address_line_1 ? order.user.address.address_line_1 + '\n' : ''}}
              {{!!order.user.address.address_line_2 ? order.user.address.address_line_2 + '\n' : ''}}
              {{!!order.user.address.admin_area_2 ? order.user.address.admin_area_2 + '\n' : ''}}
              {{!!order.user.address.admin_area_1 ? order.user.address.admin_area_1 + '\n' : ''}}
              {{!!order.user.address.postal_code ? order.user.address.postal_code + '\n' : ''}}
            </div>
          </div>

          <div class="order-line">
            <div class="title">Items</div>
            <div class="value">
              @for (item of order.items; track item) {
                  {{item.quantity}} x {{item.name}}<br>
              }
            </div>  
          </div>
          <div class="order-line">
            <div class="title">Shipping Option</div>
            <div class="value" [ngClass]="order.shippingOption.includes('24') ? 'green' : ''"> {{ order.shippingOption }}</div>
          </div>
          <div class="order-line">
            <div class="title">Item Cost</div>
            <div class="value"> {{ order.costBreakdown.items | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}
              @if (order.orderType !== 'manualOrder') {
                (user was not charged)
              }
            </div>
          </div>
          <div class="order-line">
            <div class="title">Discount</div>
            <div class="value"> {{ -order.costBreakdown.discount | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }} 
              @if (order.discountInfo?.discountPercent) {
                ({{order.discountInfo?.discountPercent||0}}%)
              }
            </div>
          </div>     
          
          <div class="order-line">
            <div class="title">Shipping </div>
            <div class="value"> {{ order.costBreakdown.shipping | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
          </div>
          <div class="order-line">
            <div class="title">Total Cost</div>
            <div class="value"> {{ order.costBreakdown.total | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
          </div>            
          <div class="order-line">
            <div class="title">Discount Code</div>
            <div class="value"> {{ order.discountInfo?.discountCode}}</div>
          </div>                                
          <div class="order-line">
            <div class="title">Order Note</div>
            <div class="value"> {{ order.notes }}</div>
            <div class="action">
              <input type="text" id="notes{{order.orderNumber}}" name="notes{{order.orderNumber}}">
              <button (click)='addNote(order.orderNumber)'>Add note</button>
            </div>
          </div>     
        </div>
      }
    </div>
  </div>
</main>
