<div class="dynamic-container">

  <h1>Our Friends and Partners</h1>
  <p>
    We have made some fabulous contacts on our book-writing journey, and as a way of saying thanks we have featured many of
    them below...  Please support them by clicking on the links and exploring.
  </p>

  <div #feedContainer class="logo-roller">
    @for(image of images; track image) {
      <a class="logo-holder suppress-external-link" href={{image.href}}>
        <img
          [ngSrc]="image.url"
          [alt]="image.alt"
          [height]="image.size.height"
          [width]="image.size.width"
        />
      </a>
    }
  </div>
</div>
