/* div {
  border: grey 1px solid;
} */
.blog-card {
  align-self: start;
  display: flex;
  flex-direction: column;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  border: var(--border-colour) 1px solid; 
  transition: all 0.25s;
  margin: 1em;
  scroll-behavior: smooth;
}

@media (max-width: 767px) {
  .blog-card {
    width: 300px;
  }
}

.blog-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.photo {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
}

.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content > * {
  margin-inline: 0.7em;
}

.content > h4 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 1em;
  height: calc( 2em * var(--line-height));
  align-content: center;
}

.subtitle {
  overflow: hidden;
  height: calc( 1em * var(--line-height) * 5);
  padding-bottom: auto;
  font-size: 0.9em;
}

.footer {
  display: flex;
  flex-direction: column;
  font-size: smaller;
  height: calc( 3em * var(--line-height) + 1em);
}

.published-date {
  margin-top: auto;
}

.kw {
  border: 1px solid var(--border-colour);
  padding-inline: 0.25em;
  margin: 0em 0.25em 0.25em 0em;
  border-radius: 5px;
}

.keywords {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
