/* div {
  border: grey 1px solid;
} */
.blog-card {
  align-self: start;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: var(--border-colour) 1px solid; 
  transition: all 0.25s;
}

.blog-card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.blog-card > .photo {
  overflow: hidden;
  max-width: 100%;
  width: 100%;
  height: 300px;
  position: relative;
  display: block;
}

.blog-card > .photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog-card > .content > * {
  padding-inline: 0.7rem;
  padding-block-start: 0.5rem;
}

.blog-card > .content > .title {
  color: burlywood;
  font-weight: 600;
  height: calc( 1em * var(--line-height) * 2);
  align-content: center;
  /* font-size: large; */
}

.blog-card >  .content > .subtitle {
  overflow: hidden;
  height: calc( 1em * var(--line-height) * 5);
  padding-bottom: auto;
  font-size: 0.9em;
}

.blog-card > .content > .footer {
  font-size: 0.9em;
  padding-bottom: 0.5rem;
}
