
<div class="dynamic-container">
  <h2>Privacy Policy</h2>

  <h4>Cookie Policy</h4>
  <p>
    We don't use cookies.
  </p>

  <h4>Meta Instagram API</h4>
  <p>
    Because we show posts from our Instagram feed on our site, we are obliged by Meta to tell you how we use any data
    collected from you. We do not collect any data from Instagram (or other sources) relating to users visiting our website.
  </p>

  <h4>Mailing list</h4>
  <p>
    By signing up to our mailing list for updates on the book release you agree to receive occasional emails from us.
    Snorkelology will never share your information with third parties without your permission.  To be removed from our mailing
    list at any time, simply email us using the details in the footer.
  </p>

  <h4>Any Questions?</h4>
  <p>
    Please contact us by email, which can be found in the footer.
  </p>

  <p>
    <span class="html-link" (click)="this.location.back()">Back to interesting things</span>
  </p>

</div>


