
<div class="dynamic-container">

  <h1>Learn About British Snorkelling</h1> 

  <p>
    Find out more about snorkelling in Britain with Snorkelology ... we have written some information-packed articles 
    to give hints and tips to new and experienced snorkellers alike. Have a dig around, and let us know if there are any 
    British snorkelling topics you'd like us to cover.
  </p>
  <p>Filter by keyword:
  <button (click)="selectAll()">Select All</button>
  <button (click)="selectNone()">Deselect All</button>
  </p>
  @for (kw of uniqueKeywords; track kw) {
    <div class="kw" [class.deselected]="!selectedKeywords.includes(kw)" (click)="onFilter(kw)">{{kw}}</div>
  }
</div>

<div class="browser-container">

  <div #browser class="browser dynamic-container">
    @for (post of filteredPosts; track post) {
      <app-blog-card [data]="post"></app-blog-card>
    }
  </div>

  <div #leftArrow class="arrow left">
    <app-svg-arrow direction="left"  (click)="onClickLeft()"></app-svg-arrow>
  </div>
  <div #rightArrow class="arrow right">
    <app-svg-arrow direction="right" (click)="onClickRight()"></app-svg-arrow>
  </div>

</div>

