.browser-container {
  position:relative;
  scroll-behavior: smooth;
}


.arrow-container {
  opacity: 0;
}

.browser {
  margin-left: -1em;
  margin-bottom: 0.5em;
  padding-top: 0.5em;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;  
  scroll-behavior: smooth;
}
