
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-right">

      <h2>Snorkelling Britain</h2>

      <p>
        Find out more about snorkelling in Britain with our new book:
      </p>

      <p class="blockquote">
        'Snorkelling Britain: 100 Marine Adventures' by Emma and Gordon Taylor is published by  
        <a href="https://wildthingspublishing.com/">Wild Things</a>
      </p>

      <p> 
        Packed with detailed route-finding advice, inspirational photography and with 
        detailed introduction covering topics such as snorkelling saftey and sustainability,
        'Snorkelling Britain' is destined to become a benchmark publication for snorkelling 
        in Britain.
      </p>

    </div>

    <div class="content-image-box grid-position-left">
      <img class="extra-top-margin"
        ngSrc = "photos/content/snorkelling-britain-100-marine-adventures-book-cover-3d.jpg"
        alt = "Snorkelling Britain: 100 Marine Adventures book cover 3D"
        width = "300"
        height = "416"
      />         
    </div>
  </div>

  <div class="main-content-grid">
    <div class="grid-position-left">
      <ul>
        <li>100 hand-picked snorkel sites around Britain</li>
        <li>Sites for beginners, families and seasoned adventurers </li>
        <li>Find rocky reefs, shipwrecks, beaches, kelp forests and more</li>
        <li>Evocative photography on every page</li>
        <li>Contributions from some of Britain's best underwater photographers</li>
        <li>Clear site-finding guidance</li>
        <li>Each site features tailored safety advice</li>
      </ul>
    </div>
      
    <div class="content-image-box grid-position-right">
      <img
        ngSrc = "photos/content/snorkelling-britain-book-extract-drawn-rocks-porthkerris.jpg"
        alt = "Snorkelling Britain book extract showing evocative photography and clear site-finding advice"
        width = "300"
        height = "305"
      />            
    </div>
  </div>

  <div class="main-content-grid">
    <div class="grid-position-right">
      <ul>
        <li>Introduction sections covering planning, equipment, safety, resposible snorkelling and much more</li>
        <li>Foreward by Sophie Rennie, BSAC's National Diving Officer and Head of Snorkelling</li>
        <li>Snorkeller's guide to marine life giving a useful introduction the underwater environment </li>
        <li>Ten 'Best For' lists including Urban Access, Tidal Pools, and Beginners </li>
      </ul>

    </div>
      
    <div class="content-image-box grid-position-left">
      <img 
        ngSrc = "photos/content/snorkelling-britain-book-extract-introduction.jpg"
        alt = "Snorkelling Britain book extract showing essential information on how to get started"
        width = "300"
        height = "305"
      />            
    </div>



  </div>

  <div #videoContainer class="video-container" role="tooltip" aria-label="Video flicking through Snorkelling Britain and highlighting reasons to buy">
    <!-- This will be populated by intersection observer in the ts -->
      <video
        src = "assets/videos/snorkelling-britain-promo-video-compressed.mp4"
        muted
        autoplay
        loop
      > 
      </video>

  </div>

</div>

