
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-right">

      <h2>Snorkelling Britain - 100 Marine Adventures</h2>

      <p>
        Snorkelling is the perfect family adventure for people who love the water and the natural world.  It is free to do, 
        needs minimal kit, and is accessible to people of all ages and abilities. Find out more about how and where to snorkel
        in Britain with our new book: 'Snorkelling Britain - 100 Marine Adventures'
      </p>

      <p class="blockquote">
        Our new book \'Snorkelling Britain\' will be published in May 2025 by 
        <app-external-link text="Wild Things Publishing" link="https://wildthingspublishing.com/"></app-external-link>.
      </p>

      <p>
        The book will be packed with information on the best sites to snorkel across Britain, complimented with inspiring
        photography, clear site finding advice and vital tips to get you started.  Planned for release in May 2025!!
      </p>

      <p>
        <a href="subscribe" class="html-link">Subscribe to our mailing list to get book updates </a>
      </p>

    </div>

    <div class="content-image-box">
      <img class="main-content-image grid-position-left"
        ngSrc = "photos/content/snorkelling-britain-100-marine-adventures-book-cover.jpg"
        alt   = "Image showing book cover for Snorkelling Britain - 100 Marine Adventures"
        width = "300"
        height = "300"
      /> 
    </div> 

  </div>
</div>

