
  .blockquote {
    margin-bottom: 1rem;
  }

  .article-image-container {
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    height: 500px;
    position: relative;
    display: block;
    /* border: 1px var(--border-colour) solid; */
  }
  
  .article-image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* .section-image {
    padding: 1.5em;
  } */
  
h1 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  .below-title-text {
    /* overflow: auto; */
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
    font-size: smaller;
    /* margin-top: 2rem; */
  }
  .below-title-text > div {
    margin-top: 0.5em;
  } 
/*  */
  .last-next-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .image-caption {
    position: absolute;
    bottom: 1em;
    left: 0px;
    background-color: var(--banner-colour);
    color: white;
    font-size: smaller;
    padding: 1rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  ul {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  li {
    list-style-type: none;
  }

  .contents-link {
    width: 100%;
    text-align: right;
  }

  .intro {
    margin-top: 1.5rem;
  }
  
  @media (max-width: 767px) {
    .image-caption {
      padding: 1rem;
      /* width: 100%; */
    }
  }
  

.kw {
  background-color: whitesmoke;
  border: 1px solid var(--border-colour);
  padding-inline: 0.25em;
  margin-right: 0.25em;
  letter-spacing: -1px;
  font-size: 0.8em;
  border-radius: 5px;
}