
<div class="slideshow-container">
  <div #slideshow class="slideshow" [ngClass]="{'transition': showTransition}">

    <!-- slide 1 -->

    <div #firstSlide class="slide">
      <img
        ngSrc="photos/slideshow/child-walking-beach-after-snorkelling-in-yorkshire-england-britain-5.jpg"
        alt="Photo of child walking up a beach holding snorkelling gear with blue-green sea behind"
        priority
        fill
      />
      <div class="slideshow-textbox-outer">
        <div class="slideshow-textbox-inner">
          <h1 class="zero-margin">Welcome to Snorkelology</h1>
          <p class="zero-margin">Discover the wonders of British snorkelling for all the family</p>
          <a class="button stealth-html-link" [routerLink]="'.'" [fragment]="'about-us'">About Snorkelology</a>

        </div>
      </div>
    </div>

    <!-- slide 2 -->

    <div class="slide">
      <img
        ngSrc="photos/slideshow/snorkelling-britain-book-cover-with-drone-shot-of-woman-3.jpg"
        alt="Snorkelling Britain book cover with drone view of woman snorkelling behind"
        fill
      />
      <!-- Use this for local testing of image change -->
      <!-- <img
        src="/assets/photos/slideshow/snorkelling-britain-book-cover-with-drone-shot-of-woman-3.jpg"
        alt="Snorkelling Britain book cover with drone view of woman snorkelling behind"
        class="test"
      /> -->
      <div class="slideshow-textbox-outer">
        <div class="slideshow-textbox-inner middle">
          <h1 class="zero-margin">Snorkelling Britain</h1>
          <p class="zero-margin">Find our more about our new book, on sale in May 2025</p>
          <a class="button stealth-html-link" [routerLink]="'.'" [fragment]="'snorkelling-britain'">Discover Our Book</a>
        </div>
      </div>
    </div>

    <!-- slide 3 -->

    <div class="slide">
      <img
        ngSrc="photos/slideshow/children-rock-pool-snorkelling-in-cornwall-britain.jpg"
        alt="Photo showing children pointing at marine life while snorkelling in a rock pool"
        fill
      />
        <div class="slideshow-textbox-outer">
          <div class="slideshow-textbox-inner middle">
            <h1 class="zero-margin">Learn about British snorkelling</h1>
            <p class="zero-margin">Explore our content to discover the fascinating underwater world</p>
            <a class="button stealth-html-link" [routerLink]="'.'" [fragment]="'blog'">Explore Our Content</a>
          </div>
        </div>
    </div>

  </div>

  <app-svg-arrow direction="left" (click)="onClick(false)"></app-svg-arrow>
  <app-svg-arrow direction="right" (click)="onClick(true)"></app-svg-arrow>

</div>
