
#map {
  margin: auto;
  height: 90%;
  width: 90%;
}

#panel {
  position: absolute;
  top: 150px;
  right: 1rem;
  width: 300px;
  /* height: 25%; */
  z-index: 1000;
  border: 1px var(--border-colour) solid;
  border-radius: 5px;;
  font-size: smaller;
  display: none;
  background-color: white;
  padding: 1rem;
}

@media (max-width: 767px) {
  #panel {
    top: unset;
    bottom: 125px;
    right: 2rem;
    left: 2rem;
    width: auto;
  }
}

#panel.show {
  display: block;
}

h3,h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 2px;
  transition: all 0.25s;
}

.close-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}
