
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-left">

      <h2>What is Snorkelology?</h2>

      <p>
        Hello and welcome to Snorkelology!  We are Emma and Gordon, and we are big fans of spending time outdoors 
        particularly in, on and around our fabulous British seas.  One of our
        favourite things to do is exploring the rich and diverse marine life of our coastline armed with a mask and snorkel, 
        or even just a pair of goggles...
      </p>

      <p class="blockquote">
        Snorkelology is for all those interested in exploring the marine environment around Britain, 
        with or without a snorkel.
      </p>

      <p>
        We had our first exposure to the wonders of British sea life through SCUBA diving.  Then came the challenge of 
        raising a family and our coastal forays became more focussed on the needs of the children.  Soon we started 
        snorkelling as a way of introducing the kids to our diverse marine environment, and realised that all you really 
        need to be able to experience this wonderful ecosystem is a pair of goggles, or a mask and snorkel.
      </p>

      <p class="blockquote">
        All you really need to be able to experience this wonderful ecosystem is a pair goggles, or mask and snorkel.
      </p>

      <p>
        Snorkelling around Britain is a fun and accessible activity that everyone can get involved with, and which opens up new world of
        coastal marine life to explore.
      </p>

    </div>

    <div class="content-image-box">
      <img class="main-content-image grid-position-right"
        ngSrc = "photos/content/woman-staring-out-to-sea-holding-snorkelling-gear-2.jpg"
        alt   = "Photo of a woman looking out to sea holding snorkelling gear in Britain"
        width = "300"
        height = "300"
        priority
      /> 
    </div> 

  </div>
</div>