
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-left">

      <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">

        <h2 itemprop="name">What is Snorkelology?</h2>

        <p>
          Hello and welcome to Snorkelology!  We are Emma and Gordon, and we are big fans of spending time outdoors particularly in, on
          and around the water.  One of our
          favourite things to do is exploring the seas around the British coastline armed with a mask
          and snorkel, or even just a pair of goggles...
        </p>

        <p class="blockquote">
          <span itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            Snorkelology is for all those interested in exploring the marine environment around Britain, with or without a snorkel.
          </span>
        </p>

        <p>
          We had our first exposure to the wonders of British sea life through SCUBA diving.  Then came the challenge of babies and our
          water-based forays became more family focussed, with sneaky swims on family beach days.
          It was these quick dips with nothing but a pair of goggles which reminded us that you don't need lots of kit to explore the beautiful
          underwater world.
        </p>

        <p class="blockquote">
          We launched Snorkelology as a way to connect with others who want to find out more about British Snorkelling...
        </p>

        <p>
          Increasingly we began to pack our mask and snorkel on our family trips, the kids joined in and we were reminded that
          snorkelling is a fun and accessible activity that the whole family can enjoy.
        </p>

      </div>
    </div>

    <div class="content-image-box">
      <img class="main-content-image grid-position-right"
        ngSrc = "photos/content/woman-staring-out-to-sea-holding-snorkelling-gear-2.jpg"
        alt   = "Photo of a woman looking out to sea holding snorkelling gear in Britain"
        width = "300"
        height = "300"
        priority
      /> 
    </div> 

  </div>
</div>
