
<div class="dynamic-container">
  <div class="main-content-grid">
    <div class="grid-position-left">

      <h2>What is Snorkelology?</h2>

      <p>
        Hello and welcome to Snorkelology!  We are Emma and Gordon, and we are big fans of spending time 
        outdoors  particularly in, on and around our fabulous British seas.  One of our
        favourite things to do is exploring the British coastline armed with a mask and snorkel ... 
      </p>

      <p class="blockquote">
        Snorkelology is about promoting snorkelling around the rich and diverse British coastline 
      </p>

      <p>
        Snorkelling is a fun and accessible way to explore the underwater world, and Britain has
        amazing, dynamic seas just packed with marine life - where better to start you marine adventures?
      </p>

    </div>

    <div class="content-image-box">
      <!-- <img class="grid-position-right"
        ngSrc = "photos/content/child underwater snorkelling with great visibility in cornwall britain.jpg"
        alt   = "Photo of child swimming underwater while snorkelling in Cornwall, Britain"
        width = "300"
        height = "300"
        priority
      />  -->
     <img class="grid-position-right"
        src = "/assets/photos/content/child-underwater-snorkelling-with-great-visibility-in-cornwall-britain-2.jpg"
        alt   = "Photo of child swimming underwater while snorkelling in Cornwall, Britain"
      />  
    </div> 

  </div>
</div>