.main-container {
    /* height: 100dvh; */
    margin-top: var(--header-height);
    height: calc(100dvh - var(--header-height));
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}