
<div class="dynamic-container">

  <h2>Explore</h2>

  <p>
    Find out more about snorkelling in Britain with Snorkelology ... we have written some useful articles to give hints and
    tips to new and experienced snorkellers alike.  To keep things fresh, we've also included some of our recent
    instagram posts to keep you up to date with our book-writing progress.
  </p>

  <p>
    So have a dig around, and if you want more you can <a class="html-link" href='snorkelling-in-britain'>
    see all our articles</a> or
    <app-external-link link="https://www.instagram.com/snorkelology/" text="find us on Instagram"></app-external-link>.
  </p>

  <app-blog-browser></app-blog-browser>

</div>


