
footer {
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: var(--sn-colour);
  color: var(--text-colour-header);
  z-index: 20;
  font-size: smaller;
  width: 100%;
}

