<footer #footer id="footer">
  <span>&copy; Snorkelology 2022-{{fullYear}}  &middot; All Rights Reserved</span>
  <div class="footer-row2">
    <span><a routerLink="/privacy-policy">Privacy Policy</a></span>
    <span class="footer-sep">&middot;</span>
    <span><a href="/map">Snorkelling Map of Britain</a></span>
  </div>
  <!-- <nav class="footer-socials" aria-label="Social media links">
    <a href="https://www.youtube.com/@snorkelology" target="_blank" rel="noopener noreferrer">YouTube</a>
    <span class="footer-sep">&middot;</span>
    <a href="https://www.facebook.com/snorkelology" target="_blank" rel="noopener noreferrer">Facebook</a>
    <span class="footer-sep">&middot;</span>
    <a href="https://www.instagram.com/snorkelology/" target="_blank" rel="noopener noreferrer">Instagram</a>
    <span class="footer-sep">&middot;</span>
    <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%73%6E%6F%72%6B%65%6C%6F%6C%6F%67%79%2E%63%6F%2E%75%6B">Email</a>
  </nav> -->
</footer>