


<!-- this is needed to avoid error where intro is not rendered  -->
@defer (when isReadyToLoad) {
    <div class="article-image-container">
        <img
            [ngSrc]="post.imgFname"
            [alt]="post.imgAlt"
            priority
            fill
            /> 
        <div> 
            <h1>{{post.title}}</h1>
        </div>

    </div>

    <div class="dynamic-container">

    <!-- Intro-->
        <div class="intro" [innerHTML]="post.intro | blogSanitizer"></div>

    <!-- Create contents -->
        <section class="anchor" id="contents">
            <ul>
                @for(faq of post.faqs; track faq) {
                    <li>
                        <a [routerLink]="'.'" [fragment]="faq.question | kebaber">{{faq.question}}</a>
                    </li>
                } 
            </ul>
        </section>

    <app-banner-ad></app-banner-ad>
    
    <!-- Q and A section -->
        @for (faq of post.faqs; track faq) {
            <a class="anchor" id="{{faq.question | kebaber}}"></a>
            <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
                <h4 itemprop="name">{{faq.question}}</h4>
                <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
                    <div itemprop="text" [innerHTML]="faq.answer | blogSanitizer"></div>
                </div>
                <a [routerLink]="'.'" [fragment]="'contents'">Back to contents</a>
            </div>
        }

        <!-- Wrap up-->
        <app-banner-ad></app-banner-ad>
        <h4>Conclusion</h4>
        <div [innerHTML]="post.callToAction | blogSanitizer"></div>
        

    </div>
}