
.orders {
    font-size: smaller;
    margin-top: 125px;
}

table, td, tr {
    border: 1px var(--border-colour) solid;
    border-collapse: collapse;
}

td {
    min-width: 3rem;
    text-align: center;
}

.order-table {
    margin-block: 1rem;
}

.order-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-top: -1px; */
    border-style: solid;
    border-color: var(--border-colour);
    border-width: 0 1px 1px 1px;
    line-height: 100%;
}

.first-line {
    border-top: 1px var(--border-colour) solid;
}


.title {
    width: 25%
}
.value {
    width: 50%;
}
.action {
    margin-inline: 0.5rem;
}
button {
    margin-right: 0.5rem;
}
.green {
    background-color: lightgreen;
}
.grey {
    background-color: lightgrey;
}
.red {
    background-color: lightcoral;
}