<div class="dynamic-container">

  <div class="four0four">
    <svg width="100px" height="100px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill="#1D3D59" d="M16 1.5V16h3v2h-3v4h-2v-4H4v-1.102L14 1.5h2zM14 16V5.171L6.968 16H14z"/>
    </svg>
  
    <img class="brandbox" src = "./assets/banner/snround.webp" width = "95" height = "95" />
  
    <svg width="100px" height="100px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
      <path fill="#1D3D59" d="M16 1.5V16h3v2h-3v4h-2v-4H4v-1.102L14 1.5h2zM14 16V5.171L6.968 16H14z"/>
    </svg>
    
  </div>
  <div class="sorry-text">
    <h4>Sorry, we couldn't find that page.</h4>
  </div>

  You could <a href="">return to our home page</a>, or browse some of our blog content below.
</div>

  <app-blog-browser></app-blog-browser>
