<main>
  @defer (when isReadyToLoad) {
    <div class="overlay about-book" [ngClass]="hideAboutBookOverlay ? 'hide-overlay' : ''">
      <a [routerLink]="'.'" [fragment]="'snorkelling-britain'" (click)="hideOverlay('about-book')">
        @if (widthDescriptor === "small") {
          <img  
            ngSrc = "ads/overlay-ad-portrait-new.jpg"
            alt   = "Overlay image showing Snorkelling Britain with link to book description"
            width = "336"
            height = "414"
            priority
          >
        } @else if (widthDescriptor == "large") {
          <img  
            ngSrc = "ads/overlay-ad-landscape-new.jpg"
            alt   = "Overlay image showing Snorkelling Britain with link to book description"
            width = "464"
            height = "177"
            priority
          >
        }
      </a>
      <div class="close-icon" (click)="hideOverlay('about-book')">
        <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#1D3D59" fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" /></svg>
      </div>
    </div>
  }

  <div class="overlay buy-now" [ngClass]="hideBuyNowOverlay ? 'hide-overlay' : ''">
    <a [routerLink]="'.'" [fragment]="'buy-now'" (click)="hideOverlay('buy-now')">
      <img  
        ngSrc = "ads/summersnorkel.jpg"
        alt   = "Buy now button with discount code"
        width = "230"
        height = "70"
      >
    </a>
    <div class="close-icon" (click)="hideOverlay('buy-now')">
      <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="#1D3D59" fill-rule="evenodd" clip-rule="evenodd" d="M5.29289 5.29289C5.68342 4.90237 6.31658 4.90237 6.70711 5.29289L12 10.5858L17.2929 5.29289C17.6834 4.90237 18.3166 4.90237 18.7071 5.29289C19.0976 5.68342 19.0976 6.31658 18.7071 6.70711L13.4142 12L18.7071 17.2929C19.0976 17.6834 19.0976 18.3166 18.7071 18.7071C18.3166 19.0976 17.6834 19.0976 17.2929 18.7071L12 13.4142L6.70711 18.7071C6.31658 19.0976 5.68342 19.0976 5.29289 18.7071C4.90237 18.3166 4.90237 17.6834 5.29289 17.2929L10.5858 12L5.29289 6.70711C4.90237 6.31658 4.90237 5.68342 5.29289 5.29289Z" /></svg>
    </div>
  </div>

  <div #anchor class="anchor" id="home">
    <app-slideshow></app-slideshow>
  </div>

  <div #anchor class="anchor" id="about-us">
    <app-about></app-about> 
    <div #window id="windowOne" class="window"></div>
  </div>

  @if (isBlogData) {
    <div #anchor class="anchor" id="blog">
      <app-explore></app-explore>
      <div #window id="windowTwo" class="window"></div>
    </div>
  }

  <div #anchor class="anchor" id="snorkelling-britain">
    <app-book></app-book>
  </div>

  <div #anchor class="anchor" id="buy-now">
    <app-basket></app-basket>
    <div #window id="windowThree" class="window"></div>  
  </div>

  <div #anchor class="anchor" id="british-snorkelling-faqs">
    <app-faq></app-faq>
    <div #window id="windowFour" class="window"></div>
  </div>

  <div #anchor class="anchor" id="friends-and-partners">
    <app-partners></app-partners>
  </div>
  
</main>


