<main>

  <div #anchor class="anchor" id="home">
    <app-slideshow></app-slideshow>
  </div>

  <div #anchor class="anchor" id="about">
    <app-about></app-about>
    <div #window id="windowOne" class="window"></div>
  </div>

  @if (isBlogData) {
    <div #anchor class="anchor" id="explore">
      <app-explore></app-explore>
      <!-- <div #window id="windowTwo" class="window"></div> -->
       <div class="window background-img">
        <img
        ngSrc="photos/parallax/cuddling-crabs-snorkelling-scotland-britain.jpg"
        alt="Photo of child walking up a beach holding snorkelling gear with blue-green sea behind"
        priority
        fill
      />
       </div>
    </div>
  }

  <div #anchor class="anchor" id="book">
    <app-book></app-book>
    <div #window id="windowThree" class="window"></div>  
  </div>

  <div #anchor class="anchor" id="faqs">
    <app-faq></app-faq>
    <div #window id="windowFour" class="window"></div>
  </div>

  <div #anchor class="anchor" id="friends">
    <app-partners></app-partners>
  </div>

</main>


