

/* ===================================== */
/* styling used on some child components */
/* ===================================== */

.window {
  position: relative;
  width: 100%;
  /* border: 1px red solid; */
}

.book-overlay {
  position: fixed;
  display: flex;
  height: 180px;
  left: 0;
  right: 0;
  width: fit-content;
  z-index: 101;
  left: calc( (100vw - var(--container-width) ) / 2 );
  top: 150px;
  border: 2px var(--sn-colour) solid;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}

.book-overlay > a {
  display: flex;
  height: 100%;
}

.book-overlay-image {
  margin-block: auto;
  margin-inline: 0.5rem;
  height: 150px;
  transition: all 0.25s;
}

.book-overlay-image:hover {
  cursor: pointer;
  transform: scale(1.05);
}

/*  Narrow screen adjustments  */
@media (max-width: 767px) {
  .book-overlay {
    left: 0;
    top: 200px;
    /* margin-block: auto; */
    margin-inline: auto;
    height: 400px;
  }
  .book-overlay-image {
    height: 380px;
  }
}

.hide-overlay {
  display: none;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  transition: all 0.25s;
}

.close-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.content-image-box {
  position: sticky;
  /* top: 75px; */
  left: 0px;
  width: 300px;
  max-height: 400px;
  padding-bottom: 1rem;
  margin: auto;
  margin-top: 0;
  /* border: 1px red solid; */
}

.main-content-grid {
  display: block;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-auto-flow: column;
  /* border: 1px green solid; */
}

.grid-position-left {
  grid-column: 1;
}

.grid-position-right {
  grid-column: 2;
}

@media (min-width: 768px) {
  .main-content-grid {
    display: grid;
  }
  .content-image-box {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

 