

/* ===================================== */
/* styling used on some child components */
/* ===================================== */

.content {
  /* display: inline-flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
}

.window {
  position: relative;
  width: 100%;
}

.content-image {
  float: inline-end;
  margin: 0 0 1em 1em;
}


@media (max-width: 768px) {
  .content-image {
    display: inline-block;
    float: none;
  }
}

