
@if (paymentOutcome == "failed") {
  <p>
    Oops, something went wrong with the transaction. If you think the error is on our side,
    don't hesitate to contact us at &#104;&#101;&#108;&#108;&#111;&commat;&#115;&#110;&#111;&#114;&#107;&#101;&#108;&#111;&#108;&#111;&#103;&#121;&period;&#99;&#111;&period;&#117;&#107;
    , or refresh the page to try again.
  </p>
  
} @else {
  <p>
    Thank you for your order, we'll get right on it! Your order number is {{shop.orderNumber}}
    and will be posted to:
  </p>
  <p>
    {{orderDetails?.name}},
    {{orderDetails?.address?.address_line_1}},
    {{orderDetails?.address?.admin_area_2}},
    {{orderDetails?.address?.admin_area_1}},
    {{orderDetails?.address?.postal_code}},
    {{orderDetails?.address?.country_code}}
  </p>
  <p>
    To get in touch, please email us at &#104;&#101;&#108;&#108;&#111;&commat;&#115;&#110;&#111;&#114;&#107;&#101;&#108;&#111;&#108;&#111;&#103;&#121;&period;&#99;&#111;&period;&#117;&#107;
  </p>
}
