<div class="blog-card" [routerLink]="'/blog/'+data.slug" aria-label="Read blog post: {{data.title}}">

  <div class="photo">
      <img
        [ngSrc]="data.imgFname"
        [alt]="data.imgAlt || 'Blog post image for ' + data.title"
        fill /> 
  </div>

  <h2 class="title">{{data.title}}</h2>
  <div class="author">By {{data.author || 'Snorkelology'}}</div>  
  <div class="subtitle">{{data.subtitle}}</div>
  <div class="keywords">     
    @for (kw of data.keywords; track kw) {
      <span>{{kw}}</span>
    }
  </div>

</div>