<article class="blog-card" [routerLink]="'/blog/'+data.slug" aria-label="Read blog post: {{data.title}}">

  <div class="photo">
      <img
        [ngSrc]="data.imgFname"
        [alt]="data.imgAlt || 'Blog post image for ' + data.title"
        fill /> 
  </div>

  <h2 class="title">{{data.title}}</h2>
  <div class="author">
    <span>By {{data.author || 'Snorkelology'}}</span>
    @if (data.likes > 0) {
      <div class="like-count">
        <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" fill="#1D3D59"/>
        </svg>
        <span>{{ data.likes }}</span>
      </div>
    }
  </div>
  <p class="subtitle">{{data.subtitle}}</p>
  <div class="card-footer">
    <div class="keywords">     
      @for (kw of data.keywords; track kw) {
        <span>{{kw}}</span>
      }
    </div>
  </div>

</article>