<div class="dynamic-container">

  <h2>Our Friends and Partners</h2>
  <p>
    We have made some fabulous contacts on our book-writing journey, and as a way of saying thanks we have featured many of
    them below...  Please support them by clicking on the links and exploring.
  </p>

  <div #feedContainer class="logo-roller">
    @for(image of partnerImages; track image) {
      <!-- <div class="logo-holder" (click)="navigate.to(image.href)" role="link"> -->
      <a class="logo-holder" href={{image.href}}>
        <img
          [ngSrc]="image.url"
          [height]="image.height"
          [width]="image.width"
          [alt]="image.alt"
        />
      </a>
    }
  </div>
</div>
