
@if (paymentOutcome == "failed") {
  <p>
    Oops, something went wrong with the transaction. If you think the error is on our side,
    don't hesitate to contact us at <a class="suppress-external-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%73%6E%6F%72%6B%65%6C%6F%6C%6F%67%79%2E%63%6F%2E%75%6B">&#104;&#101;&#108;&#108;&#111;&commat;&#115;&#110;&#111;&#114;&#107;&#101;&#108;&#111;&#108;&#111;&#103;&#121;&period;&#99;&#111;&period;&#117;&#107;</a>
    , or refresh the page to try again.
  </p>
  
} @else {
  <p>
    Thank you for your order, we'll get right on it! Your order number is {{shop.orderNumber}}
    and will be posted to:
  </p>
  <p>
    {{orderDetails?.user?.name}},
    {{orderDetails?.user?.address?.address_line_1}},
    {{orderDetails?.user?.address?.admin_area_2}},
    {{orderDetails?.user?.address?.admin_area_1}},
    {{orderDetails?.user?.address?.postal_code}},
    {{orderDetails?.user?.address?.country_code}}
  </p>
  <p>
    A confirmation email has been sent. To get in touch, please email us at <a class="suppress-external-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;%68%65%6C%6C%6F%40%73%6E%6F%72%6B%65%6C%6F%6C%6F%67%79%2E%63%6F%2E%75%6B">&#104;&#101;&#108;&#108;&#111;&commat;&#115;&#110;&#111;&#114;&#107;&#101;&#108;&#111;&#108;&#111;&#103;&#121;&period;&#99;&#111;&period;&#117;&#107;</a>
  </p>
}
