
/* solution for animating height: https://keithjgrant.com/posts/2023/04/transitioning-to-height-auto/ */

.basket {
  margin-top: 2em;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
  width: 80%;
  align-items: center;
}

.item-row {
  width: 100%;
  border-top: 1px var(--border-colour) solid;
  display: grid;
  padding-block: 0.5rem;
  gap: 1rem;
  grid-template-columns: 100px 1fr auto 5rem;
  align-items: center;
}

.item-image {
  grid-column: 1/2;  
  height: 100px;
  justify-self: center;
}

.item-text {
  grid-column: 2/3;
}

.item-text > .item-description {
  font-size: smaller;
  line-height: calc(var(--line-height) * 0.7);
}

.item-quantity {
  grid-column: 3/4;
  justify-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-subtotal {
  grid-column: 4/5;
  justify-self: right;
}

.summary-row {
  width: 100%;
  border-top: 1px var(--border-colour) solid;
  display: grid;
  padding-block: 0.5rem;
  gap: 1rem;
  grid-template-columns: 1fr 5rem;
}

.summary-text {
  grid-column: 1/2;
  justify-self: right;
}

.summary-subtotal {
  grid-column: 2/3;
  justify-self: right;
}

.last-row {
  border-bottom: 1px var(--border-colour) solid;
}

.plus-minus {
  display: inline-block;
  padding: 5px 10px;
  font-size: 1rem;
  border-radius: 0;
  border-width: 1px;
  line-height: var(--line-height);
  border-color: var(--border-colour);
}

input {
  text-align: center;
  display: inline-block;
  padding: 5px 5px;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  line-height: var(--line-height);
  font-size: 1rem;
  border-radius: 0;
  border-width: 1px;
  outline-width: 0px;
  margin-inline: -1px;
}

input.qty {
  text-align: center;
  width: 1.2rem;
}

input.qty::-webkit-outer-spin-button,
input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input.qty[type=number]{
    -moz-appearance: textfield;
}

input.discount {
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 1rem;
}

.below-basket-container {
  margin-top: 2rem;
  width: 60%;
  margin-inline: auto;
}
