<div class="dynamic-container">
  <h1>Buy Now</h1> 
  Select your items below, click to pay, and we'll pop it in the post.  It's as simple as that!
  <div class="basket">

    @for (basketItem of shop.basket.items; track $index) {

      <div class="item-row">

        <img class="item-image"
          src = {{basketItem.image.src}}
          alt = {{basketItem.image.alt}}
        /> 

        <div class="item-text">
          {{basketItem.name}}<br>
          <span class="item-description"> {{basketItem.description}} </span>  
        </div>

        <div class="item-itemcost">{{basketItem.unit_amount.value | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}ea</div>

        
        <div class="item-quantity">
          <button class="plus-minus" (click)="onPlusMinus(basketItem.id,-1)" [disabled]="shop.orderStatus!='draft'">-</button>
          <input id="qty{{$index}}" class="qty" type="number" min=0 name="qty-input-{{$index}}" [disabled]="shop.orderStatus!='draft'"  [(ngModel)]="basketItem.quantity" readonly> 
          <button class="plus-minus" (click)="onPlusMinus(basketItem.id,1)" [disabled]="shop.orderStatus!='draft'">+</button>
        </div>
  
        <div class="item-subtotal">{{basketItem.quantity * basketItem.unit_amount.value | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>

      </div>
    }

    <div class="summary-row-revealer" [ngClass]="shop.basket.discountPercent ? 'show' : ''">
      <div >
        <div class="summary-row">
          <div class="summary-text">{{shop.basket.discountPercent}}% Discount</div>
          <div class="summary-subtotal">{{shop.basket.discountValue  | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>            
        
        </div>     
      </div>
    </div> 

    <div class="summary-row">
        <div class="summary-text">Shipping ({{shop.basket.selectedShippingService}})</div>
        <div class="summary-subtotal">{{shop.basket.shippingCost | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
    </div>      
  
    <div class="summary-row last-row">
      <div class="summary-text">Total</div>
      <div class="summary-subtotal">{{shop.basket.totalCost | currency: 'GBP' : 'symbol' : '1.2-2' : 'en' }}</div>
    </div>
  </div>

  @if (shop.orderStatus === "draft") {

    <div class="below-basket-container">
      <!-- <div class="discount-code"> -->
        <input class="discount" type="text" placeholder="Enter discount code" id="discount" name="discount" (keyup)="onCodeChange()" [disabled]="shop.orderStatus!='draft'" [(ngModel)]="shop.basket.discountCode">
        <div id="paypal-button-container"></div>
      <!-- </div> -->
    </div>
  } @else {
    <app-order-outcome></app-order-outcome>
  }

</div>
    



