
.map-container {
  position: relative;
  height: 80vh;
  width: 100%;
  /* border: red solid 2px; */
}

#map {
  /* margin: auto; */
  height: 100%;
  width: 100%;
  /* border: 1px red solid; */
  /* position: relative; */
}

.map-not-available {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: #FAF9F6;
  /* border: red solid 2px; */
  align-content: center;
  text-align: center;
}

.panel {
  position: absolute;
  top: 1rem;
  /* margin: 1rem; */
  width: 300px;
  z-index: 1000;
  border-radius: 5px;
  font-size: smaller;
  display: none;
  background-color: white;
  line-height: 1.5rem;
}

.panel-topbar {
  border-radius: 5px 5px 0 0;
  height: 2rem;
  background-color: var(--sn-colour);
  color: white;
  padding-inline: 1rem;
}

.panel-content {
  border: 1px var(--border-colour) solid;
  padding: 1rem;
  border-radius: 0 0 5px 5px;
}

.panel-content > h4 {
  margin: 0px;
}

.panel.none {
  display: none;
}

.panel.left {
  display: block;
  left: 1rem;
}

.panel.right {
  display: block;
  right: 1rem;
}

.icon {
  display: inline-block;
  margin-right: 0.5rem;
  /* border: 1px red solid; */
}
/* 
.icon-container {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.icon-container > div {
  margin-block: auto;
} */

@media (max-width: 767px) {
  .panel.right, .panel.left {
    left: unset;
    right: unset;
  }

  .panel {
    top: unset;
    bottom: 125px;
    width: auto;
    margin: 1rem;
    /* margin-inline: calc( (100vw - var(--container-width) ) / 2  ); */
    /* width: 100vw; */
    box-sizing: border-box;
  }
}

h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.description {
  margin-top: 0;
  margin-bottom: 0.7rem;
}

.close-icon {
  position: absolute;
  top: 0px;
  right: 2px;
  transition: all 0.25s;
}

.close-icon:hover {
  cursor: pointer;
  transform: scale(1.15);
}
