
<div class="page-container">

  <div class="login-container">
    
    <div class="header">
      Login Form
    </div>

    <div class="inputs">
      <label for="login-user">Username</label>
      <input type="text" id="login-user" name="login-user" [(ngModel)]="user.userName">
      <label for="login-pswd">Password</label>
      <input type="password" id="login-pswd" name="login-pswd" [(ngModel)]="user.password">
    </div>

    <div class="buttons">
      <button class="login-submit" (click)="onSubmit()">Submit</button>
      <button class="login-cancel" (click)="onCancel()">Cancel</button>

    </div>

  </div>
</div>