
<div class="article-image-container">
  <img
    [ngSrc]="images.orientedImage('snorkelling-gear').url"
    [alt]="images.orientedImage('snorkelling-gear').alt"
    fill
    />
    <div> 
      <h1>The Science of Snorkelling: Part 1</h1>
    </div>
</div>

  <div class="dynamic-container">

    <p>
      Snorkelling anywhere in the world is a great way to explore the marine world with minimal kit, but how does it work 
      and what's the science behind it? 
    </p>
    <p>
      Understanding the science can help you to improve your snorkelling experience, fine-tune your technique, and in 
      some cases allow you to be more prepared to adapt to the unexpected.  
    </p>

<section class="anchor" id="contents">

  <p>
    In this article we will be taking a look into the science of snorkelling, answering the following questions along the way:
  </p>

    <ul>
      <li><span class="html-link" (click)="navigate.to('snorkel-length')" role="link">Can I use a longer snorkel to go deeper? </span></li>
      <li><span class="html-link" (click)="navigate.to('duck-dive')" role="link">Why do my ears squeeze when I duck dive?</span></li>
      <li><span class="html-link" (click)="navigate.to('snorkel-work')" role="link">How does a snorkel work?</span></li>
      <li><span class="html-link" (click)="navigate.to('mask-fog')" role="link">Why does my mask fog up? </span></li>
      <li><span class="html-link" (click)="navigate.to('wetsuit-warm')" role="link">How does a wetsuit keep you warm? </span></li>
      <li><span class="html-link" (click)="navigate.to('more')" role="link">How can I find out more?</span></li>
    </ul>

  </section>
<!--
    <div class="my-4 adsense-unit adsense-content" id="adsense-content">
      Ads banner
    </div> -->

<!-- FAQ BLOCK -->

<a class="anchor" id="snorkel-length"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Can I use a longer snorkel to go deeper?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            Air has a pressure of roughly 1 bar at sea level, caused by the weight of the 100 km or so column of air above.   
            This pressure acts on the outside of our bodies, and we also breathe in air at this pressure.  The air in our 
            lungs and the air outside our bodies is the same.
          </p>
          <p>
            As water is more dense than air the pressure of water acting on our body increases much faster than in air, 
            in fact it only takes 10 metres of water to generate 1 bar of pressure.  So at 10 m depth, the pressure acting
            on our bodies is double that at the surface (1 bar air pressure + 1 bar of water pressure = 2 bar).  If we were 
            to try and breathe through a snorkel at this depth, we would find that the muscles in our body are simply not 
            strong enough to deal suck in air at 1 bar while we have 2 bar trying to compress our lungs from the outside. 
          </p>
          <p class="blockquote">
            As an aside, SCUBA divers avoid this problem as the air is delivered at the pressure of the surrounding water, 
            and hence the pressure inside and out is equal, and our lungs are able to function as normal.
          </p>
          <p>
            Let's put this physical restriction aside though and imagine that our super strong chest muscles could act against 
            the higher external pressure as we duck-dive. A second problem would be that of ‘stale’ air. When we breathe we 
            are not only bringing in fresh oxygen, but also expelling harmful carbon dioxide.  The longer the snorkelling tube, the
            greater the volume of air that is not expelled and replenished as we breathe, but will be repetitively breathed 
            in causing a steady depletion of oxygen and ever-increasing concentration of carbon dioxide.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<!-- FAQ BLOCK -->

<a class="anchor" id="duck-dive"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Why do my ears squeeze when I duck dive?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            A mask or goggles are essential for seeing underwater, but why?  
            Light rays bend as the medium in which they are travelling changes, and the degree to which they bend is dependent 
            on the refractive index of the medium. The human eye is adapted to be able to focus in air.  Because water has a 
            much higher refractive index than air, the light entering the eye when touching water bends by a different amount 
            than it would in air, and consequently the image is focussed behind the back of the eye, which we experience as 
            blurred vision underwater. Our eyes are simply not capable of making the adjustments necessary to focus when water 
            is next to the eye.
          </p>
          <p>            
            To solve this problem, we use a mask or goggles to ensure there is a layer of air next to our eyes, allowing the 
            eye to focus correctly.  This solution is not perfect, the light rays still bend as they move from water to the 
            glass of our mask, and then when moving from the glass to the air - meaning images appear distorted.  This is the 
            same effect as when viewing an apparently disjointed straw entering a drink in a glass.  But at least we are able 
            to focus on that distorted image.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<a class="anchor" id="snorkel-work"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">How does a snorkel work?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            A snorkel at its simplest is just a bent plastic tube with a mouthpiece, which allows the user to breathe 
            with their face submerged. This arrangement facilitates a better view of the underwater world that would otherwise 
            be possible, but without the need for expensive SCUBA equipment and training. 
          </p>
          <p>
            The snorkel works on the same principle as a straw, although you are using your sucking power to pull air through 
            the tube instead of liquid. 
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<a class="anchor" id="mask-fog"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Why does my mask fog up?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            There is nothing more capable of ruining a good snorkel than a fogged mask.  So what causes masks to fog up, 
            and what can be done about it? 
          </p>
          <p>
            The main problem is the temperature difference between the air in our masks and the surrounding water.  
            Warm air holds more moisture than cold air, and when warm air cools the excess moisture must come out of the 
            air as condensation.  This is what happens when the warm, body-heated air in your mask meets the water-cooled 
            lenses at the front of your mask.  This process is unavoidable as we can’t control the temperature of the water 
            or the air in our masks.  It’s also an issue more likely to happen in colder water (although certainly not uniquely). 
            So what is the solution?  Read on…
          </p>
          <p>
            <u>Step 1: Keep your mask clean.</u>  Water droplets will tend to form around imperfections on the glass surface including 
            dust and dirt, so keeping masks clean is an important first step.  In particular, new masks often arrive with an 
            invisible film coating the lenses, a side-product of the manufacturing process.  This film can easily be removed, 
            and you will often see experienced snorkellers reaching for the toothpaste after buying a new mask. Toothpaste is 
            slightly abrasive and the action of rubbing the inside of the lenses does a good job of cleaning off this problematic 
            film, and makes one's mask feel minty fresh afterwards!
          </p>
          <p>
            <u>Step 2: Spit in your mask.</u>  The larger the water droplets, the easier they will be able to form on the glass surface. 
            We can control this by applying a surfactant to the lenses, which  reduces the surface tension of the water drops,
            meaning that larger drops cannot form.
          </p>
          <p class="blockquote">
            Purpose made anti-fog products are available, and keeping these handy in 
            your snorkelling kit is useful.
          </p> 
          <p>
            Alternatively, saliva is a tried and tested way of preventing mask fog, used by 
            SCUBA divers for many years. The technique is to spit in your mask before it gets wet, rub it around, get a little 
            bit of water in your mask and leave it until you're ready to get in the water. 
          </p>
          <p>
            For the best chance of avoiding the evil fogs, keep your mask clean and spit in it! 
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<a class="anchor" id="wetsuit-warm"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">How does a wetsuit keep you warm?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            Wetsuits are commonly used in all types of watersports, but how do they help to keep us warm?  
            Understanding the science behind a wetsuit can help us make the best choices when selecting a wetsuit.  
            Read on to find out more…
          </p>
          <p>
            When we enter the water our bodies lose heat to the surrounding water, heating it up a small amount in the process.  
            In fact, water conducts heat at a rate of more than 20 times that of air, meaning that we lose our body heat more 
            quickly when immersed in water, compared to air at the same temperature. Although the water around us heats a small 
            amount, the benefit of this is not felt due to our movement in the water constantly refreshing the layer next to our 
            skin. 
          </p>
          <p>
            When we wear a wetsuit we benefit from the lower conductivity of the wetsuit material (usually compressed or 
            uncompressed neoprene) compared to water, and from the suit trapping a layer of water next to our skin.  This 
            layer of water is warmed by our body, but is not allowed to escape, resulting in a much less loss of body heat 
            to our surroundings.
          </p>
          <p>
            So, how does this help us choose the best wetsuit?  Two main factors to consider is the thickness of the material 
            (the thicker the warmer, but the more encumbered we feel) and the ability to seal water in the suit.  A poor fitting 
            suit allows cooler water next to the skin, and will not be effective at retaining heat.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>


<a class="anchor" id="more"></a>

<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <h4 itemprop="name">How can I find out more about snorkelling in Britain?</h4>
  <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <div itemprop="text">
      <p>
        Our snorkelling guide is expected to be released in 2025, and will come packed with useful information and lots of 
        ideas for fabulous places to snorkel in Britain.  For training advice contact your local BSAC branch, or use a web 
        search to find guided snorkels in the destination of your choice.
      </p>
      <p class="blockquote">
        Join our <app-ext-link link="https://www.instagram.com/snorkelology/" text="Instagram"></app-ext-link> feed or <span (click)="navigate.to('subscribe')" class="html-link">sign up to our email list</span> 
        for book updates.
      </p>
    </div>
  </div>
  <!-- <a routerLink="./" fragment="contents" skipLocationChange>Back to contents</a> -->
  <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
</div>

<!-- ADS BLOCK -->

    <!-- <div class="my-4 adsense-unit adsense-content" id="adsense-content">
      Ads banner
    </div> -->

  <!-- </div> -->
  </div>

  <!-- <div class="m-4 ms-2 border adsense-right">
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-7175370499005276"
      data-ad-slot="5619934241"
      data-ad-format="auto"
      data-full-width-responsive="true">
    </ins>
  </div> -->

<!-- </div> -->
