
  <div class="article-image-container">
    <img
      ngSrc="photos/articles/children-snorkelling-in-rock-pool-cornwall-britain-landscape.webp"
      alt="Kids snorkpooling in a tidal pool in Cornwall"
      priority
      fill
      /> 
      <div> 
        <h1>Beginner's guide to snorkelling in Britain</h1>
      </div>
  </div>

  <div class="dynamic-container">

    <p>
      Snorkelling is defined by the oxford english dictionary as “the sport or activity of swimming underwater with a snorkel”.
      In practice, snorkelling provides an easy first step to safety explore the fascinating marine environment around us with
      a minimum of basic kit, and in a way that is suitable for all the family. The use of a diving mask and snorkel allows you
      to see and breathe with your face in the water, opening up a hidden world of sea dwelling critters that are usually the
      domain of divers.
    </p>

<section class="anchor" id="contents">

    <p>
      But snorkelling’s only for warmer climes, right?  Wrong!  
    </p>
    <p class="blockquote">
      There are some great places to snorkel around Britain and the UK, and
      plenty of marine-life to see for those willing to brave the colder waters.
    </p> 
    <p>
      Britain has some of the largest tidal ranges in the world, and has some fabulous examples of tidal habitats to explore. 
      In this article we will explore some of the reasons to give snorkelling a go in Britain.
    </p>

    <ul>
      <li><span class="html-link" (click)="navigate.to('training')" role="link">Do I need training to snorkel in Britain?</span></li>
      <li><span class="html-link" (click)="navigate.to('kit')" role="link">What kit do I need to start snorkelling?</span></li>
      <li><span class="html-link" (click)="navigate.to('safe')" role="link">Is it safe to snorkel in Britain?</span></li>
      <li><span class="html-link" (click)="navigate.to('sites')" role="link">How do I find a safe snorkelling site?</span></li>
      <li><span class="html-link" (click)="navigate.to('life')" role="link">What marine-life will I see?</span></li>
      <li><span class="html-link" (click)="navigate.to('more')" role="link">How can I find out more about snorkelling in Britain?</span></li>
    </ul>

  </section>
<!--
    <div class="my-4 adsense-unit adsense-content" id="adsense-content">
      Ads banner
    </div> -->

<!-- FAQ BLOCK -->

<a class="anchor" id="training"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Do I need training to snorkel in Britain?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            The simple and accurate answer is, of course, no.  Many, many people get hold of a mask and snorkel from beach side 
            shops in their summer holidays and give it a go. There is nothing wrong with starting to snorkel in this way, providing 
            the limits of your experience and of the basic equipment are understood.  Perfectly fine to use this equipment 
            to explore the many fascinating rock pools or shallow water reefs in sheltered bays. 
          </p>
          <p>
            However, while formal training is not a necessity, there are good reasons to seek qualifications to take your 
            snorkelling further - you will learn about how to select the correct kit, to use proper technique, and crucially how to 
            stay safe in and around the water. All of these skills will add to your enjoyment in the long run, and make you a 
            happier, more accomplished snorkeller.
          </p>
          <p>
            The main agency to provide snorkel training in Britain is 
            <app-ext-link link="https://www.bsac.com/uk-diving/snorkelling-in-the-uk/" text="BSAC"></app-ext-link> 
            - a club based organisation with volunteer based 
            instructors; the training you will receive through BSAC will be cost effective, but the number of clubs offering 
            snorkel training is limited.  If there are no clubs near you, there are many local companies offering small group 
            snorkel experiences and training around Britain. While you won’t get a recognised qualification with this approach, 
            you probably don’t need one, and you’ll get a great personalised experience.
          </p>

        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<!-- FAQ BLOCK -->

<a class="anchor" id="kit"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">How do I start snorkelling?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            To start with, you only need a snorkel and a mask or goggles to be able to enjoy the undersea environment.  Simply submerging
            your face standing-depth water is enough to start to explore life under the waves.  As you build more confidence, you can add
            fins (flippers) and start to explore in deeper water, ensuring you are always aware of your limits of experience, and progress
            slowly.  However, when you have your whole body in the water, you’ll need to start to think about a wetsuit to manage the Britains
            colder water.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<a class="anchor" id="safe"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Is it safe to snorkel in Britain?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            Like any outdoor activity, snorkelling in Britain is as safe as you make it.  There are many risks involved in snorkelling, no matter
            where you are in the world.  However, although accidents happen, most risks can be mitigated with sufficient experience and care.
          </p>
          <p>
            In Britain we are lucky that we don’t need to worry about sharks - the worst you are likely to come across is a nasty sting from
            a jellyfish, or uncomfortable prickle from a sea urchin.  The biggest risk in the UK is probably from tides and currents. Only
            experience can give you the knowledge to be safe, so extend yourself slowly.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<a class="anchor" id="sites"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Where should I snorkel in Britain?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            Britain has no shortage of fantastic places to go snorkelling, but there are some sites that are more suited to finding abundant
            marine life than others.  
          </p>
          <p class="blockquote">
            In general look for rocky locations with lots of seaweeds - these will tend to provide the nutrients
            and natural safety to attract a broad range of marine life. 
          </p>  
          <p>
            If you are new to snorkelling, we would recommend starting off by
            finding larger rock pools to explore with a snorkel (the term <app-ext-link link="https://www.instagram.com/snorkelology/" text="'snorkpooling'"></app-ext-link> 
            has recently been coined to describe this
            activity), or the sheltered shallows of a cove or harbor.
          </p>
          <p>
            For budding marine explorers, look out for our new book expected in 2025 that will list many great sites around Britain for
            beginners to experienced snorkellers.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>

<a class="anchor" id="life"></a>

    <div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
      <h4 itemprop="name">Where should I snorkel in Britain?</h4>
      <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
        <div itemprop="text">
          <p>
            Crabs. There are more than 50 species of crabs living in our coastal waters, and it’s likely that one of your first
            encounters will be with a crab.  Beyond that, it depends where you are snorkelling, and how lucky you are!  With a
            bit of luck you should see starfish, anemones, gobies, blennies (our favourite is the Tompot Blenny <link>), jellyfish,
            lots of seaweeds and wracks.  With more time in the water, or if you are very lucky, you could see cuttlefish, scorpionfish,
            dogfish or even an octopus.  Check out our <app-ext-link link="https://www.instagram.com/snorkelology/" text="Instagram"></app-ext-link> feed, and some of those that we follow, to see some photos.
            Beyond sealife, there are also the many fascinating shipwrecks that litter our coastlines.
          </p>
          <p>
            Beyond sealife, there are also the many fascinating shipwrecks that litter our coastlines.
          </p>
        </div>
      </div>
      <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
    </div>


<a class="anchor" id="more"></a>

<div itemscope itemprop="mainEntity" itemtype="https://schema.org/Question">
  <h4 itemprop="name">How can I find out more about snorkelling in Britain?</h4>
  <div itemscope itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
    <div itemprop="text">
      <p>
        Our snorkelling guide is expected to be released in 2025, and will come packed with useful information and lots of 
        ideas for fabulous places to snorkel in Britain.  For training advice contact your local BSAC branch, or use a web 
        search to find guided snorkels in the destination of your choice.
      </p>
      <p>
        <p class="blockquote">
          Join our <app-ext-link link="https://www.instagram.com/snorkelology/" text="Instagram"></app-ext-link> feed or <span (click)="navigate.to('subscribe')" class="html-link">sign up to our email list</span> 
          for book updates.
        </p>
    </div>
  </div>
  <!-- <a routerLink="./" fragment="contents" skipLocationChange>Back to contents</a> -->
  <span class="html-link" (click)="navigate.to('contents')" role="link">Back to contents</span>
</div>


<!-- ADS BLOCK -->

    <!-- <div class="my-4 adsense-unit adsense-content" id="adsense-content">
      Ads banner
    </div> -->

  <!-- </div> -->
  </div>

  <!-- <div class="m-4 ms-2 border adsense-right">
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-7175370499005276"
      data-ad-slot="5619934241"
      data-ad-format="auto"
      data-full-width-responsive="true">
    </ins>
  </div> -->

<!-- </div> -->
